.cards-container {
  display: flex;
  justify-content: space-around;
  gap: 437px;
  padding: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 25px 120px 25px 120px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 3rem;
  color: #4caf50;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-size: 1.2rem;
  color: #555;
}
