.cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  